<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tienda.css' %}">

</head>
<body>
    <header>
        <h1>Tienda de Ropa</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Hombres</a></li>
            <li><a href="#">Mujeres</a></li>
            <li><a href="#">Niños</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </nav>

    <section>
        <div class="producto">
            <img src="" alt="Producto 1">
            <h2>Producto 1</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $XX.XX</p>
            <button>Agregar al carrito</button>
        </div>

        <div class="producto">
            <img src="" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $XX.XX</p>
            <button>Agregar al carrito</button>
        </div>
        <div class="producto">
            <img src="" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $XX.XX</p>
            <button>Agregar al carrito</button>
        </div>
        <div class="producto">
            <img src="" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $XX.XX</p>
            <button>Agregar al carrito</button>
        </div>
        <div class="producto">
            <img src="" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $XX.XX</p>
            <button>Agregar al carrito</button>
        </div>
        <div class="producto">
            <img src="" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto.</p>
            <p>Precio: $XX.XX</p>
            <button>Agregar al carrito</button>
        </div>

    </section>

    <footer>
        <p>&copy; 2023 Tienda de Ropa</p>
    </footer>
</body>
</html>